<div class="tripdrive_container shadow">
   <div class="tripdrive_listing_header">
      <div class="row row-30 m-auto">
         <div class="col-md-12 pt-2">
            <h5>Product View</h5>
            <p class="text-secondary py-1">
               <span class="cursor-pointer" [routerLink]="['/products']"> Products </span> / <span class="cursor-pointer">View Product</span>
            </p>
         </div>
      </div>
      <div class="card w-100">
         <div class="card-header">
            <div class="row p-2">
               <div class="col-10">
                  <h3 class="text-uppercase">{{productData?.product_name}}</h3>
               </div>
               <div class="col-1 m-0" *ngIf="!!productData && !!productData.product_id">
                  <button class="btn wms_btn_primary btn-block" [routerLink]="['/products/product']" [queryParams]="{ type: 'edit', id: productData.product_id}">Edit</button>
               </div>
               <div class="col-1 m-0">
                  <button class="btn wms_btn_secondary btn-block" (click)="viewProductBack()">Back</button>
               </div>
            </div>
         </div>
         <div class="card-body p-4">
            <div class="row">
               <table class="table">
                  <thead>
                     <tr>
                        <th scope="col">Attributes</th>
                        <th scope="col">Values</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <th scope="row">Product Id:</th>
                        <td>{{productData?.product_id}}</td>
                     </tr>
                     <tr>
                        <th scope="row">Product Name</th>
                        <td>{{productData?.product_name}}</td>
                     </tr>
                     <tr>
                        <th scope="row">Product Type</th>
                        <td>{{productData?.product_type}}</td>
                     </tr>
                     <tr>
                        <th scope="row">Price</th>
                        <td>{{productData?.price}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>